//phone portrait
$minPhonePortrait: 0px;
$maxPhonePortrait: 576px;
//tablet portrait
$minTabletPortrait: $maxPhonePortrait;
$maxTabletPortrait: 768px;
//tablet landscape
$minTabletLandscape: $maxTabletPortrait;
$maxTabletLandscape: 992px; 
//desktop
$minDesktop: $maxTabletLandscape;
$maxDesktop: 1200px;
//extra large desktop
$minExtraLargeDesktop: $maxDesktop; 


// Very small devices
@mixin for-phone-portrait {
    @media (max-width: $maxPhonePortrait) { @content; } 
}
// Small devices (landscape phones, tablet portrait 576px ~ 768px)
@mixin for-tablet-portrait {
    @media (max-width: $maxTabletPortrait) { @content; }
}
// Medium devices (landscape tablets, 769px ~ 992px)
@mixin for-tablet-landscape {
    @media (max-width: $maxTabletLandscape) { @content; }
}
// Large devices (desktops, 992px ~ 1200px)
@mixin for-desktop {
    @media (max-width: $maxDesktop) { @content; }
}

//body
$bgThemeColor: #ededed;
//header
$headerColor: #281537;
$menuColor: #281537;
$menuHoverColor: #703b9b;
$headerHeight: 75px;
//banner
$bannerColor: #281537;
//button
$buttonColor: #472562;
$buttonHoverColor: #703b9b;
//vantagem
$vatangemBorder: none; //1px solid #ccc;
$vatangemSvgColor: #703b9b;
$vatangemHoverBackground: linear-gradient(to top left, #703b9b, #180d21);
$vatangemSvgHoverColor: white;
$vatangemSvgHoverFill: white;
$vantagemDotsCarouselColor: #d8d8d8;
$vantagemDotsCarouselColorActive: #688293;


