# allow direct access for some url, useful to test form on development env
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# it is need for react app routes to work
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>