@import '../Shared/constants';

$widthTabletLandscape: 85%;
$widthTextContainer: 100% / 3;
$widthFormContainer: 100% - $widthTextContainer;
$formComponentsPadding: 15px 10px;
$formInputsMarginBottom: 10px;
$formInputsMarginBottomTabletPortrait: 15px;

.contact-section {
    padding: 70px 0 100px;
    .contact-container {
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
        @include for-max-tablet-landscape {
            padding-left: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact-text {
            width: $widthTextContainer;
            display: flex;
            flex-direction: column;
            @include for-max-tablet-landscape {
                width: $widthTabletLandscape;
                margin-bottom: 40px;
            }
            @include for-max-tablet-portrait {
                text-align: justify;
            }
            h2 {
                width: 100%;
                font-size: 2.5rem;
                margin-bottom: 35px;
                @include for-max-tablet-portrait {
                    text-align: center;
                }
            }
            p {
                margin: 5px 0px;
                font-size: 1.2rem;
            }
        }
        .contact-form-container {
            width: $widthFormContainer;
            @include for-max-tablet-landscape {
                width: $widthTabletLandscape;
            }
            form {
                width: 100%;
                display: flex;
                @include for-max-tablet-portrait {
                    flex-direction: column;
                }
                .input-infos {
                    margin-right: 10px;
                    width: 50%;
                    @include for-max-tablet-portrait {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                        padding: $formComponentsPadding;
                        border: 2px solid $formInputBorderColor;
                        margin-bottom: $formInputsMarginBottom;
                        @include for-max-tablet-portrait {
                            margin-bottom: $formInputsMarginBottomTabletPortrait;
                        }
                    }
                }
                .label-textarea {
                    width: 50%;
                    margin-bottom: $formInputsMarginBottom;
                    @include for-max-tablet-portrait {
                        width: 100%;
                        height: 150px;
                        margin-bottom: $formInputsMarginBottomTabletPortrait;
                    }
                    textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                        padding: $formComponentsPadding;
                        border: 2px solid $formInputBorderColor;
                    }
                }
                textarea,
                input {
                    outline: none;
                }
                textarea:focus,
                input:focus,
                textarea:hover,
                input:hover {
                    border: 2px solid $formInputBorderHoverColor;
                }
                //classes de validação do fomulario
                textarea.valid,
                input.valid {
                    border: 2px solid $formInputBorderValidColor;
                }
                textarea.invalid,
                input.invalid {
                    border: 2px solid $formInputBorderInvalidColor;
                }
            }
            .button-form {
                width: 100%;
                button {
                    width: 100%;
                    padding: $formComponentsPadding;
                    background-color: $formButtonColor;
                    color: white;
                    font-size: 1.2rem;
                    cursor: pointer;
                    border: none;
                }
                button:hover{
                    background-color: $formButtonHoverColor;
                }
            }
        }
    }
}