@import "../Shared/constants";

footer {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  height: 70px;

  background-color: $headerColor;

  .footer-container {
    span {
      color: white;
      font-size: 1rem;
    }
  }
}
