@import "../Shared/constants";

@mixin banner {
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  margin-top: $headerHeight - 1;
  @include for-max-phone-portrait {
    min-height: 550px;
  }
}

.banner-home {
  @include banner;
  background-color: $bannerColor;
  .animate-container {
    height: 90%;
    padding: 50px 10px 0px 20px;
    display: flex;
    flex-direction: column;
    h1 {
      width: 100%;
      font-size: clamp(3.2rem, 6vw, 7rem);
      font-weight: 900;
      color: white;
    }
  }
}

.banner-services {
  @include banner;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner-service-text {
    color: white;
    display: flex;
    height: calc(100% - #{$headerHeight});
    padding-right: 10px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    @include for-max-phone-portrait {
      width: 100%;
      padding: 0 10px;
    }
    h2 {
      margin-bottom: 20px;
      font-weight: 900;
      font-size: clamp(3rem, 4vw, 4rem);
      width: 620px;
      @include for-max-tablet-portrait {
        width: 500px;
      }
      @include for-max-phone-portrait {
        text-align: center;
        width: 100%;
      }
    }
    p {
      width: 620px;
      text-align: left;
      font-weight: 400;
      font-size: clamp(1.3rem, 2vw, 1.5rem);
      @include for-max-tablet-portrait {
        width: 500px;
      }
      @include for-max-phone-portrait {
        text-align: center;
        width: 100%;
      }
    }
  }
}
