.logo {
  height: 90%;
  width: 220px;
  padding: 0 20px;
  cursor: pointer;
  margin-top: 4px;
}

.logo a {
  outline: none;
}

.logo img {
  height: 100%;
  width: 100%;
}

.logo img:focus {
  outline-style: dashed;
  outline-width: 2px;
  outline-color: blueviolet;
}
